#welcome-button {
    text-align: center;
    position: center;
}

footer {
    margin: 50px 0;
}

body {
    margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

.meetTeam{
    padding-top: 20px;
}

.longName{
    font-size: 20px;
}
.navbutton{
    padding-left: 25%;
    padding-right: 25%;
}

#sponsor{
    font-size: 50px;
    text-align: center;
}

#sponsorState {
	font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.sponsor{
    text-align: center;
    padding: 30px;
}

#bottomRow {
	padding-top: 50px;
}